body {
    margin: 0 auto;
    max-width: 1020px;
    min-width: 600px;
}
.forma {
    display: flex;
    flex-direction: row;
   
}
.background {
    width: 1020px;
    height: 648px;
    background-color: #f06c64;
}
h2 {
    font-size: 30px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    padding-top: 68px;
    padding-left: 40px;
    letter-spacing: -0.1px;
}
.furce {
    width: 940px;
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-family: "Lato";
    text-align: left;
    padding-left: 40px;
    padding-top: 2px;
    letter-spacing: -0.2px;
    text-align: justify;
}
form {
    margin-top: 10px;
    width: 670px;
}
.name {
    width: 619px;
    height: 38px;
    border: none;
    border-radius: 5px;
    background-color: #d6564f;
    margin-top: 16px;
    margin-left: 40px;
    font-size: 12px;
    margin-bottom: 0px;
    padding-left: 15px;
    color: #f0d8d9;
}
.describe {
    width: 619px;
    height: 202px;
    border: none;
    border-radius: 5px;
    background-color: #d6564f;
    margin-top: 16px;
    margin-left: 40px;
    font-size: 12px;
    margin-bottom: 0px;
    padding-left: 15px;
    padding-top: 7px;
    resize: none;
    color:#f0d8d9;
    
}


input[type="text"]::placeholder  {
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    vertical-align: middle;
    
}
input[type="email"]::placeholder  {
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    vertical-align: middle;
     
}
textarea::placeholder  {
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato";
    text-align: left;
    vertical-align: middle;
}
.submit {
    width: 619px;
    height: 38px;
    border: none;
    border-radius: 5px;
    background-color: #f0d8d9;
    margin-top: 16px;
    margin-left: 40px;
    font-size: 14px;
    margin-bottom: 0px;
    font-weight: 900;
    color: #d6564f;
}
.submit:hover {
    cursor: pointer;
    filter: opacity(85%)
}

